:root {
    --color-fondo: #1758F1;
    --color-blanco: #fffffa;
    --color-titulos: #faf9f9;
    --color-texto: #000000;
    --color-fondo-texto:#f0f7ff;
    --color-azul-claro: #e0eeff;
    --color-azul-medio: #6da9f2;
    --color-azul-fuerte: #3b71db;
    --color-azul-oscuro: #2441b3;
}

.main-content {
    background-color: var(--color-fondo);
    color: var(--color-titulos);
    text-align: center;
}

.sidebar-nav {
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    border-left: 1px;
    padding-left: 1.5rem;
}

/*Diseño del Menu lateral*/
.custom-link {
    color: var(--color-texto);
    font-size: 1rem;
    padding: 40px 25px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.custom-link:hover {
    background-color: var(--color-fondo);
    color: var(--color-blanco);
}

/*Diseño de Introduccion al Sistema Operativo*/

.card-body {
    background-color: var(--color-blanco);
    color: var(--color-texto);
}

.card-header {
    background-color: var(--color-fondo-texto);
    color: var(--color-texto);
    border-bottom: 1px;
}

.funciones-box{
    background-color: var(--color-azul-claro);
    border: 1px;
}

.device-card {
    transform: scale(1.02);
}

.device-card:hover {
    transform: translateY(-5px);
}

/*Diseño de Arquitectura del Sistema Operativo*/

.diagrama-box {
    background-color: var(--color-azul-claro);
}

.layer-box {
    color: var(--color-blanco);
    font-weight: 500;
    transition: transform 0.2s;
}

.layer-usuario {
    background-color: var(--color-fondo);
}

.layer-aplicacion {
    background-color: var(--color-azul-medio);
}

.layer-so {
    background-color: var(--color-azul-fuerte);
}

.layer-hardware {
    background-color: var(--color-azul-oscuro);
}

.layer-box:hover {
    transform: scale(1.02);
}

/*Diseño del Kernel*/
.kernel-container {
    background-color: var(--color-fondo);
}

.kernel-item {
    background-color: var(--color-azul-medio);
    border: 1px;
    transition: background 0.3s;
    color: var(--color-blanco);
    text-align: center;
}

.kernel-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}